.AnswersItem {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswersItem:hover {
  background: rgba(260, 260, 200, .3);
  transition: .3s ease-in-out;
}